@*
    Để biết thêm thông tin về việc kích hoạt MVC cho các dự án trống, hãy truy cập https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Modal quên mật khẩu-->

<!-- Modal -->
<div class="modal fade" id="forgotModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Quên Mật Khẩu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
                <div class="text-center mb-2">
                    <h1>Nhập Email của bạn!</h1>
                    <span>Tìm lại tài khoản của bạn để đấu giá nhanh chóng và dễ dàng.</span>
                </div>
                <form action="forgot-password" method="post" class="text-center">
                    <input type="email" placeholder="Nhập địa chỉ email"
                           class="form-control" name="email" required>
                    <button class="btn btn-primary mt-2">
                        Tiếp Tục
                    </button>
                </form>
                <div class="social-separator">
                    <div class="social-line"></div>
                    <span>HOẶC</span>
                    <div class="social-line"></div>
                </div>
                <div class="clearfix space-bottom text-center space-top-30">
                    <span class="dark-gray-text">Đã có tài khoản?</span>
                    <a data-bs-toggle="modal"
                       data-bs-target="#loginModal" href="#">Đăng nhập</a>
                </div>
                <div class="clearfix space-bottom text-center" style="font-size: 12px;">
                    <span class="dark-gray-text">
                        Bằng cách đăng ký bằng Google, bạn đồng ý với <a href="#" target="_blank">điều khoản dịch vụ</a> và <a href="/agreements/privacy.cfm" target="_blank">chính sách bảo mật</a> của Invaluable.
                        Invaluable có thể gửi cho bạn các thông báo; bạn có thể thiết lập ưu tiên trong tài khoản của bạn.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>