<div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img id="fullImage" src="#" class="img-fluid" alt="Full Size Image">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('a[data-bs-toggle="modal"]').on('click', function () {
            var fullImage = $(this).find('img').attr('src');
            $('#fullImage').attr('src', fullImage);
        });
    });
</script>